  p {
    margin: 0 !important;
  }
  
  .buttonTop:hover {
    background: rgba(0, 0, 0, 0.829);
  }
  .selectIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
  }
  
  .TOPIMGE {
    width: 100%;
  }
  .HOMENAV {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 30;
  }
  .Container-NavBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .paddingHomeCenter {
    padding: 10px 150px !important;
  }
  .navbarHome {
    background: #181818 !important;
    box-shadow: none !important;
    padding: 0 0 !important ;
  }
  
  .home-header-content {
    background: #181818;
    color: white;
    min-height: 51vw;
    line-height: 1 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px !important;
  }
  .selectBox{
    color: #181818;
  }
  .home-header-content-first-part {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 150px;
  }
  .home-header-text {
    font-size: 6vw;
    font-weight: bold;
  }
  .lastmile-text {
    font-size: 1.6vw;
    margin-top: 30px !important;
  }
  .home-header-content-select-and-others {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    gap: 10px;
    margin-top: 30px;
  }
  .home-header-content-select select {
    position: relative;
    z-index: 2;
    background: transparent;
    border: none;
    width: max-content;
    cursor: pointer;
    padding: 15px;
    padding-right: 35px;
    -webkit-appearance: none;
  }
  .home-header-content-select {
    position: relative;
    cursor: pointer;
    background: #ffdd29;
    width: max-content;
    font-size: 19px;
    border-radius: 8px;
  }
  .select-option-type {
    color: red;
  }
  .home-header-content-gif-part-gif {
    width: 45%;
    margin-left: 1vw;
  }
  .slide-text {
    position: relative;
    overflow: hidden;
    height: 6vw;
  }
  .slide-text-1,
  .slide-text-2 {
    min-width: max-content;
  }
  .slide-text-1 {
    position: relative;
    width: 100%;
    bottom: 0;
    animation: slidetext1 12s infinite ease-in-out;
    -webkit-animation: slidetext1 12s infinite ease-in-out;
  }
  .slide-text-2 {
    position: absolute;
    width: 100%;
    bottom: -100%;
    animation: slidetext2 12s infinite ease-in-out;
    -webkit-animation: slidetext2 12s infinite ease-in-out;
  }
  
  @keyframes slidetext1 {
    0% {
      bottom: 0;
    }
    30% {
      bottom: 0;
      opacity: 1;
    }
    50% {
      bottom: 100%;
      opacity: 0;
    }
    50.1% {
      bottom: -100%;
      opacity: 0;
    }
    80% {
      bottom: -100%;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
  }
  
  @keyframes slidetext2 {
    0% {
      bottom: -100%;
    }
    30% {
      bottom: -100%;
    }
    50% {
      bottom: 0;
    }
    80% {
      bottom: 0;
      opacity: 1;
    }
    99.9% {
      bottom: 100%;
      opacity: 0;
    }
    100% {
      bottom: -100%;
    }
  }
  
  .app-image-part {
    height: 50vw;
    background: #ffdd29;
    position: relative;
    overflow: hidden;
  }
  
  .vector1,
  .vector2 {
    position: absolute;
    top: 0;
    opacity: 0.7;
  }
  .vector1 {
    left: 0;
    animation: vector1Anim 5s infinite ease-in-out;
  }
  .vector2 {
    right: 0;
    animation: vector2Anim 5s infinite ease-in-out;
  }
  @keyframes vector1Anim {
    0% {
      top: 0;
    }
    50% {
      top: 50px;
    }
    100% {
      top: 0;
    }
  }
  @keyframes vector2Anim {
    0% {
      right: 0;
    }
    50% {
      right: -50px;
    }
    100% {
      right: 0;
    }
  }
  .businessOrder {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 100%;
    height: 90%;
  }
  .shoopify-pub-part {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px !important;
    padding-bottom: 45px !important;
    font-size: 2.4vw;
    font-weight: 500;
  }
  .vectorApp {
    width: 20vw;
  }
  .shpoopifyCard {
    position: relative;
    margin-left: 1vw;
    width: 14vw;
    transition: 0.4s;
    opacity: 1;
  }
  .shpoopifyCardOFF {
    position: relative;
    margin-left: 15vw;
    width: 14vw;
    right: 0;
    opacity: 0;
  }
  .shpoopifyText {
    opacity: 1;
  }
  .shpoopifyTextOFF {
    opacity: 0;
  }
  .affordable-Part {
    width: 100%;
    position: relative;
    height: 45vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.1;
    overflow: hidden;
    padding: 0 2vw;
  }
  .affordable-Part-textOFF {
    width: 45%;
    position: relative;
    left: -25%;
    scale: 0.5;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  .affordableCard-partOFF {
    width: 60%;
    position: relative;
    right: -25%;
    scale: 0.5;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  .affordable-Part-text {
    width: 50%;
    position: relative;
    left: 0;
    scale: 1;
    opacity: 1;
    transition: 0.5s ease-in-out;
    margin: 0 30px;
  }
  .affordableCard-part {
    width: 50%;
    position: relative;
    right: 0;
    scale: 1;
    opacity: 1;
    transition: 0.5s ease-in-out;
  }
  .bigType-text-affordable {
    font-size: 6vw;
    font-weight: bold;
    min-width: max-content;
  }
  .smallType-text-affordable {
    font-size: 1.5vw;
    color: #bdbdbd;
  }
  .smallType-text-affordable-link {
    color: #ffdd29 !important;
  }
  .smallType-text-affordable-long {
    width: 90%;
    line-height: 1.5 !important;
  }
  
  .affordableCard {
    width: 100%;
  }
  .arrowLink {
    margin-left: 10px;
    transition: 0.3s;
  }
  .smallType-text-affordable-link-part:hover > .arrowLink {
    margin-left: 20px;
  }
  .fully-part {
    line-height: 1;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .fully-partBIG {
    min-width: max-content;
  }
  .smallType-text-fully-long {
    width: 32%;
    font-size: 1.7vw;
    justify-self: flex-start;
    padding-left: 10px;
  }
  
  .fully-part-text-contentOFF {
    position: relative;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 100px;
    transition: 0.5s;
    overflow: hidden;
  }
  .fully-part-text-content {
    position: relative;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    transition: 1s;
    overflow: hidden;
  }
  .PR {
    position: relative;
  }
  
  .shoopifyCardBlack{
    width: 100%;
    min-width: 150px;
  }
  
  .blancFake {
    position: absolute;
    background: #ffff;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 100%;
    transition: 0.5s;
  }
  .blancFakeOFF {
    position: absolute;
    background: #ffff;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    transition: 1s;
  }
  .cardPartof {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 5vw !important;
    margin-bottom: 10vw !important;
  }
  .Oncard {
    position: relative;
    top: 0;
    min-width: 17vw;
    min-height: 17vw;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
    opacity: 1;
  }
  .Oncard1 {
    position: relative;
    top: 100px;
    width: 17vw;
    min-height: 17vw;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .Oncard2 {
    position: relative;
    top: 150px;
    width: 17vw;
    min-height: 17vw;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .Oncard3 {
    position: relative;
    top: 200px;
    width: 17vw;
    min-height: 17vw;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .Oncard-small-title {
    color: #202020;
  }
  .api {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .api1 {
    background: rgb(253, 248, 238);
  }
  .api2 {
    background: rgb(253, 238, 238);
  }
  .api3 {
    background: rgb(238, 244, 253);
  }
  .Oncard:hover {
    box-shadow: 0 0 13px rgb(226, 226, 226);
    transition: 0.2s !important;
  }
  .Oncard:hover > .arrowBlack-card {
    opacity: 1;
    transition: 0.2s !important;
  }
  .Oncard-small-text {
    font-size: 14px;
    color: #bdbdbd;
  }
  .Oncard-small-title {
    font-size: 2vw;
    font-weight: 500;
  }
  .arrowBlack-card {
    margin-top: 15px;
    opacity: 0;
    transition: 0.3s;
  }
  .currently-part {
    position: relative;
    min-height: 48vw;
    background: #ffdd29;
    overflow: hidden;
    padding-top: 7vw !important;
    padding-bottom: 7vw !important;
    display: flex;
    padding: 10px;
  }
  .vectorBool {
    position: absolute;
    width: 35vw;
    opacity: 0.9;
  }
  .vecterBool1 {
    bottom: -10%;
    left: -10%;
  }
  .vecterBool2 {
    top: -20%;
    right: -10%;
  }
  .currently-element-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 100%;
  }
  .currently-element-text {
    text-align: center;
  }
  .currently-element-text-big {
    font-size: 5vw;
    font-weight: bold;
    line-height: 1;
  }
  .currently-element-text-small {
    font-size: 35px;
    font-weight: 500;
    padding: 30px 0;
  }
  .currently-element-card {
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 330px;
    align-items: center;
  }
  .applink-currently {
    width: 15vw;
    padding: 15px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    color: #181818;
    transition: 0.2s;
    cursor: pointer;
  }
  .applink-currently:hover {
    box-shadow: 0 0 7px #1818187a;
  }
  
  .VectorArrow{
    width: 60px;
    position: absolute;
    right: -70px;
    bottom: 0;
  }
  
  .currently-element-card2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  .currently-element-card-container-cardOFF {
    transition: 0.7s;
    opacity: 0;
  }
  
  .currently-element-card-container-card {
    transition: 1s ease-in-out;
    opacity: 1;
  }
  .curently-card-type {
    width: 100%;
    min-width: 120px;
  }
  .currently-element-card1,
  .currently-element-card3 {
    position: relative;
    margin: 0 10px;
  }
  .currently-element-card1-1 {
    position: absolute;
    top: 60px;
    left: 200px;
    z-index: 3;
  }
  .currently-element-card1-2 {
    position: absolute;
    right: 5%;
    bottom: 3%;
  }
  .currently-element-card3-1 {
    position: absolute;
    right: 200px;
    top: 50px;
  }
  .currently-element-card3-2 {
    position: absolute;
    left: 5%;
    bottom: 3%;
  }
  @media screen and (max-width: 964px) {
    .paddingHomeCenter {
      padding: 20px 120px !important;
    }
  }
  @media screen and (max-width: 811px) {
    .paddingHomeCenter {
      padding: 20px 60px !important;
    }
    .shoopify-pub-part {
      flex-direction: column;
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }
    .shpoopifyCard {
      margin-left: 0;
      width: 100%;
    }
  }
  @media screen and (max-width: 700px) {
    .HOMENAV {
      position: absolute;
      top: 10px;
      width: 100%;
      z-index: 30;
    }
  }
  @media screen and (max-width: 652px) {
    .app-image-part {
      height: 70vw;
    }
    .businessOrder {
      width: 100%;
      height: 100%;
    }
    .shpoopifyCard {
      position: relative;
      margin-left: 1vw;
      width: 100%;
      transition: 0.4s;
      opacity: 1;
    }
    .reverse {
      flex-direction: column-reverse !important;
    }
    .paddingHomeCenter {
      padding: 30px 25px !important;
    }
    .affordable-Part {
      height: max-content;
      flex-direction: column;
      text-align: center;
    }
    .affordable-Part-textOFF {
      width: 100%;
    }
    .affordableCard-partOFF {
      width: 90%;
    }
    .affordable-Part-text {
      width: 100%;
      margin: 0;
    }
    .affordableCard-part {
      width: 90%;
    }
    .bigType-text-affordable {
      font-size: 8vw;
    }
    .smallType-text-affordable-long {
      font-size: 3.1vw;
      width: 100%;
    }
    .smallType-text-affordable {
      font-size: 3vw;
    }
    .shpoopifyText {
      font-size: 4vw;
    }
    .shpoopifyCard {
      margin-left: 0;
      width: 100%;
    }
    .affordableCard {
      width: 100%;
      margin-top: 40px;
    }
    .fully-part-text-content {
      align-items: center;
      flex-direction: column;
    }
    .smallType-text-fully-long {
      width: 100%;
      font-size: 3vw;
      padding: 15px 0;
      text-align: center;
    }
    .cardPartof {
      flex-direction: column;
      align-items: center;
    }
    .Oncard {
      margin: 20px 0;
    }
    .icon-card-img-api {
      width: 80%;
    }
    .api {
      height: 13vw;
      width: 13vw;
    }
    .Oncard-small-title {
      font-size: 4vw;
    }
    .currently-element-card {
      display: flex;
      justify-content: space-between;
    }
    .applink-currently {
      width: 40vw;
    }
    .currently-element-card-container-card {
     
    }
    .currently-element-card1-1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
    .currently-element-card1-2 {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .currently-element-card3-1 {
      position: absolute;
      right: 0;
      top: 0;
    }
    .currently-element-card3-2 {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  
  @media screen and (max-width: 500px) {
    .slide-text {
      height: 10vw;
    }
    .home-header-content-select {
      font-size: 2.5vw;
    }
    .home-header-content-select-and-others {
      width: 100%;
    }
    .home-header-content-first-part {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 55px;
    }
    .Driver-section3-text-app-buttons-button-container {
      max-width: 100%;
      width: 100%;
    }
    .paddingHomeCenter {
      padding: 30px 10px !important;
    }
    .home-header-text {
      font-size: 10vw;
    }
    .lastmile-text {
      font-size: 4vw;
      margin-top: 20px !important;
    }
    .home-header-content-select {
      font-size: 4vw;
    }
    .home-header-content-gif-part-gif {
      display: none;
    }
    .affordable-Part {
      height: max-content;
      flex-direction: column;
      text-align: center;
    }
    .affordable-Part-text {
      width: 100%;
    }
    .bigType-text-affordable {
      font-size: 13vw;
    }
    .smallType-text-affordable-long {
      width: 100%;
    }
    .smallType-text-affordable {
      font-size: 5vw;
    }
    .shpoopifyText {
      font-size: 4vw;
    }
    .shpoopifyText {
      font-size: 6vw;
      text-align: center;
      line-height: 1;
      margin-bottom: 15px !important;
    }
    .affordableCard-part {
      width: 95%;
    }
    .affordableCard {
      width: 100%;
      margin-top: 40px;
    }
    .fully-part {
      line-height: 1;
      height: max-content;
    }
    .bigType-text-affordable-fully {
      font-size: 11vw !important;
    }
    .fully-part-text-content {
      align-items: center;
      flex-direction: column;
    }
    .smallType-text-fully-long {
      width: 100%;
      font-size: 5vw;
      padding: 15px 0;
      text-align: center;
    }
    .cardPartof {
      flex-direction: column;
      align-items: center;
    }
    .Oncard {
      margin: 20px 0;
      width: 90%;
    }
    .Oncard1,
    .Oncard2,
    .Oncard3 {
      width: 90%;
    }
    .icon-card-img-api {
      width: 80%;
    }
    .api {
      height: 13vw;
      width: 13vw;
    }
    .Oncard-small-title {
      font-size: 5vw;
    }
    .Oncard-small-text {
      font-size: 4vw;
    }
    .currently-element-card {
      display: flex;
      justify-content: space-between;
    }
    .applink-currently {
      width: 40vw;
    }
    .currently-element-text-big {
      font-size: 7vw;
      font-weight: bold;
      line-height: 1;
    }
  
  
    .currently-element-card-container-card {
     
    }
    .currently-element-card1-1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
    .currently-element-card1-2 {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    .currently-element-card3-1 {
      position: absolute;
      right: 0;
      top: 0;
    }
    .currently-element-card3-2 {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  
  @media screen and (max-width:483px) {
    .currently-element-text-small{
      font-size: 30px;
    }
    .shoopifyCardBlack {
      width: 210px;
      min-width: none;
  }
  .VectorArrow {
    width: 40px;
    position: absolute;
    right: -35px;
    bottom: 20px;
  }
  .currently-element-card {
  
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      height: max-content;
      padding: 20px 0;
  }
  .curently-card-type {
    width: 70%;
    min-width: 120px;
  }
  .currently-element-card-container-card {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  
  }
  
  @media screen and (max-width:300px) {
    .currently-element-text-small{
      font-size: 30px;
    }
    .shoopifyCardBlack {
      width: 100%;
      min-width: none;
  }
  .VectorArrow {
    display: none;
  }
  
  }